{% extends 'base.html.twig' %}

{% block body %}
    <p><a href="{{ path('speurtocht', {'groupName': 'Nour'}) }}">Groepje Nour</a></p>
    <p><a href="{{ path('speurtocht', {'groupName': 'Mark'}) }}">Groepje Mark</a></p>
{% endblock %}
